<!DOCTYPE html>
<html>
<head>
	<title>Music AKA | Life's an Entertainment</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content=""/>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="../css/lightbox.css" type="text/css" media="all" />
	<link rel="stylesheet" type="text/css" href="../css/component.css" />
	<script src="../js/modernizr.custom.js"></script>
	<link href="../css/bootstrap-social.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
	<!-- js -->
	<script src="../js/jquery-1.11.1.min.js"></script>
	<!-- //js -->
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="../js/move-top.js"></script>
	<script type="text/javascript" src="../js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<script src="../js/hover_pack.js"></script>
</head>
<body>

<!-- banner -->
<div class="banner">
	<div class="col-md-10 banner-right">
		<div class="navigation">
			<div class="nav-left">
				<a href="/artists"><span class="menu"><img src="../img/back.png" alt=""/></span></a>
			</div>
      <div class="clearfix"></div>
      <center>
        <font id="biggreen"></font>
        <font id="biggray"></font>
      </center>
		</div>

		<div class="container">
			<center>
			<div class="rating">
		    <span>★</span><span>★</span><span>★</span><span>★</span><span>★<!-- ☆ --></span>
			</div>
                <div id="profileImg">
                    <!--<img id="PFP" class="thumbnail" src="../img/tf0.png">-->
                </div>

      </center>

      <div class="testimonials-grid">
        <div class="testimonials-grid-left1">
          <img src="../img/creativity.png" alt=" " class="img-responsive" />
        </div>
        <div class="testimonials-grid-right1" id="about">
            <!--<p><span>T</span>aylor Swift is a singer-songwriter and one of country music's top recording artists, having crossed over into pop and winning many awards and holding many performances.
            </p>-->
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>



      <!--gallery-starts--> 
      <!-- <div class="gallery">
      <div class="fea-top">
        <h3 class="tittle">FEATURED SPOTLIGHT</h3>
      </div>
       <script src="../js/lightbox.js"></script>
        <div class="gallery-bottom">
          <div class="view view-ninth">
            <img src="../img/tf1.jpg" alt="">
             <a class="example-image-link" href="../img/tf1.jpg" data-lightbox="example-1" data-title="Music Life">
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
              <h4>MUSIC LIFE</h4>
              <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
              
            </div></a>
          </div>
          <div class="view view-ninth">
            <img src="../img/tf3.jpg" alt="">
             <a class="example-image-link" href="../img/tf3.jpg" data-lightbox="example-1" data-title="Music Life">
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
              <h4>MUSIC LIFE</h4>
              <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
              
            </div></a>
          </div>
          <div class="view view-ninth">
            <img src="../img/tf4.jpg" alt="">
             <a class="example-image-link" href="../img/tf4.jpg" data-lightbox="example-1" data-title="Music Life">
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
              <h4>MUSIC LIFE</h4>
              <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
               
            </div></a>
          </div>
          <div class="view view-ninth">
            <img src="../img/tf5.jpg" alt="">
             <a class="example-image-link" href="../img/tf5.jpg" data-lightbox="example-1" data-title="Music Life">
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
              <h4>MUSIC LIFE</h4>
              <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
               
            </div></a>
          </div>
          <div class="view view-ninth">
            <img src="../img/tf6.jpg" alt="">
             <a class="example-image-link" href="../img/tf6.jpg" data-lightbox="example-1" data-title="Music Life">
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
              <h4>MUSIC LIFE</h4>
              <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
               
            </div></a>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div> -->



    <!--gallery-ends--> 
		  <!--
			<div id="coverflow">
        <div class="covers">
          <ul>
            <li><div class="imgdiv">
              <a href="../img/tf1.jpg" data-gallery="gallery" data-cap="lightbox caption 03">
                <img src="../img/tf1.jpg" alt="">
              </a>
            	</div>
            </li>
            <li><div class="imgdiv">
              <a href="../img/tf2.jpg" data-gallery="gallery" data-cap="lightbox caption 03">
                <img src="../img/tf2.jpg" alt="">
              </a>
              </div>
            </li>
            <li><div class="imgdiv">
              <a href="../img/tf3.jpg" data-gallery="gallery" data-cap="lightbox caption 03">
                <img src="../img/tf3.jpg" alt="">
              </a>
              </div>
            </li>
            <li><div class="imgdiv">
              <a href="../img/tf4.jpg" data-gallery="gallery" data-cap="lightbox caption 03">
                <img src="../img/tf4.jpg" alt="">
              </a>
              </div>
            </li>
            <li><div class="imgdiv">
              <a href="../img/tf5.jpg" data-gallery="gallery" data-cap="lightbox caption 03">
              	<img src="../img/tf5.jpg" alt="">
              </a>
              </div>
            </li>
            <li><div class="imgdiv">
              <a href="../img/tf6.jpg" data-gallery="gallery" data-cap="lightbox caption 03">
             		<img src="../img/tf6.jpg" alt="">
              </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      -->
		<div class="clearfix"></div>
	
		<div class="features-main">
				<div class="fea-top">
				  <h3 class="tittle">SHARED EXPERIENCES</h3>
				</div>
				<div class="feature-botttom">
          {{name}}
          {{#each totalReview}}
          <div class="container">
              <h3>"{{summary}}"</h3><br>
              <!-- Review ID: {{reviewId}}<br> -->
              <h4>Reviewed by: {{author}}</h4><br>
              Date: {{date}}<br>
              Where: {{where}}<br>
              Rating: {{rating}} out of 5<br>
              Emoticon: {{emoticon}}<br>
              <!-- Review Img: {{reviewImg}}<br> -->
              <p>{{review}}</p><br>
              

              <br>
              <br>
          </div>
          {{/each}}

                    <!------------------------------->









                    <!------------------------------>

          <!--
					<div class="col-md-6 fea-grid">
						<div class="col-md-5 fea-img">
							<img src="../img/g2.jpg" alt="" />
						</div>
						<div class="col-md-7 fea-text" id="review1">
							<h4>Experience 4</h4>
							<p>I went to Coachella for the very first time and saw so many new artists.</p>
						 </div>
					  <div class="clearfix"> </div>
					</div>

					<div class="col-md-6 fea-grid">
						<div class="col-md-5 fea-img">
							<img src="../img/g6.jpg" alt="" />
						</div>
						<div class="col-md-7 fea-text" id="review2">
							<h4>Experience 3</h4>
							<p>It was my third time watching Porter Robinson live and he sounded amazing.</p>
						</div>
					</div>

					<div class="col-md-6 fea-grid">
						<div class="col-md-5 fea-img">
							<img src="../img/g7.jpg" alt="" />
						</div>
						<div class="col-md-7 fea-text" id="review3">
							<h4>Experience 2</h4>
							<p>I wished that the ambience at the Music Cafe felt more authentic.</p>
						</div>
					  <div class="clearfix"> </div>
					</div>

					<div class="col-md-6 fea-grid">
						<div class="col-md-5 fea-img">
							<img src="../img/g8.jpg" alt="" />
						</div>
						<div class="col-md-7 fea-text" id="review4">
							<h4>Experience 1</h4>
							<p>Taylor Swift brought out a surprise guest at her show today!
							I was totally not expecting to see Adele sing there.</p>
						</div>
					</div>
          <div class="clearfix"> </div>
          <br>
          <br>
          -->
				</div>
			</div>
	</div>
</div>
{{>navbar}}


<!--<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <center>
      <div class="dropup">      
        <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" display="inline" float="left">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><a href="/about">About</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="/">Sign out</a></li>
        </ul>
      </div>
      <a href="/artists" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-th"></span> Artists</a>
      <a href="/profile" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-user"></span> Profile</a>
      <a href="/review" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-plus"></span></a>
    </center>
  </div>
</nav>-->

</div>
	<div class="clearfix"></div>
</div>

<!-- //banner -->
<!-- for bootstrap working -->
	<script src="../js/bootstrap.js"></script>
  <script src="../js/AKAProject.js"></script>
<!-- //for bootstrap working -->

<!-- smooth scrolling
	<script type="text/javascript">
		$(document).ready(function() {						
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
 //smooth scrolling -->
</body>
</html>