<!DOCTYPE html>
<html>
<head>
  {{> reviewExperiment}}
  <title>Music AKA | Life's an Entertainment</title>
  {{> scripts2}}
</head>
<body>
{{> nav}}
<!-- banner -->
<div id="me" class="panel">
    <div class="navigation">
      <div class="clearfix"></div>
      <center>
        <font id="biggreen"></font>
        <font id="biggray"></font>
      </center>
    </div>

    <div class="container">
      <center>
      <div class="rating">
        <span>★</span><span>★</span><span>★</span><span>★</span><span>★<!-- ☆ --></span>
      </div>
                <div id="profileImg">
                    <!--<img id="PFP" class="thumbnail" src="../img/tf0.png">-->
                </div>

      </center>

      <div class="testimonials-grid">
        <div class="testimonials-grid-left1">
          <img src="../img/creativity.png" alt=" " class="img-responsive" />
        </div>
        <div class="testimonials-grid-right1" id="about">
        </div>
      </div>
    </div>
  
    <script type="text/javascript">
      function myDelete(pid) {
        event.preventDefault();
        var obj = 
        {
            "reviewId"      : pid
        };
        var ans = window.confirm("Are you sure you want to delete this review?");
        if (ans == true) {
          $.post("/editDeleteReview", obj, null);
          alert("Successfully deleted review! Refreshing the page now...");
          location.reload();
        } 
      }
    </script>


    <div class="features-main">
        <div class="feature-botttom"></div>

          {{#each totalReview}}
          <div class="main-top"> 
           <!-- Grid-1 -->       
            <div class="grid1">
              <div class="logo">
                  <hr>
              </div>  
               <div class="logo-desc">
                <h2>{{summary}}</h2>
                <p>By {{author}}<br/></p>
              <div class="collapse-group">
              <div class="collapse">
                
                  <div align="right">                
                    <a href="/editreview/{{reviewId}}" class="btn btn-info btn-sm"></span>Edit</a>
                    <a href="#" onclick="myDelete({{reviewId}})" class="icon fa-trash"></a>
                    <!--<button class="btn btn-danger btn-sm" onclick="myDelete({{reviewId}})">Delete Review</button>-->
                  </div>
                    <p id="reviewFont">Date:</p> <font color="white">{{date}}</font><br>
                    <p id="reviewFont">Where:</p> <font color="white">{{rating}} out of 5</font><br>
                    <div class="emo"><p id="reviewFont">Emoticon:</p> <p id="reviewFont" class="pomme">{{emoticon}}</p><br></div>
                    <p id="reviewFont">Review:</p> <font color="white">{{review}}<br>
                <br><br>
                <center><img class="img-thumbnail" src="{{reviewImg}}" width="150px" height="150px"></center>
                <br>
              </div>
              <p><a class="btn btn-default potato">Toggle &raquo;</a></p>
            </div>
            <br>
          </div>
          {{/each}}
        </div>
      </div>

    </div>
    <div class="clearfix"></div>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/AKAProject.js"></script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    {{> googleanalytics}}
  </div>
</body>
</html>