<!DOCTYPE html>
<html>
<head>
	<title>Music AKA | Life's an Entertainment</title>
	{{> scripts2}}
</head>
<body>
{{> nav}}
<!-- banner -->
		<div id="me" class="panel">
			<center>
		    <font id="biggreen">EDIT</font> 
		    <font id="biggray">REVIEW</font>
		  </center>
		  <br>
		
		<script type="text/javascript">
    	function editedit() {
    		event.preventDefault();
		    var review = $('#review').val();
		    var summary = $('#summary').val();
		    var date = $('#date').val();
		    var where = $('#where').val();
		    var reviewId = {{totalObject.reviewId}};
            var artistName= "{{name}}";
            artistName=artistName.toLowerCase();

        var obj = 
        {
            "review"    : review,
            "summary" : summary,
            "date"    : date,
            "where"    : where,
            "reviewId"			: reviewId
        };

        $.post("/editSubmitReview", obj, null);
        alert("Successfully made review changes! Refreshing the page now...");
            window.location.href = window.location.href.split('/')[0]+'/artist/'+artistName.split(' ')[0]+'-'+artistName.split(' ')[1];
    	}
    </script>

		<!-- contact -->
		<div class="contact-top" style="padding:0px 12px;">
				<div class="contact-form" >
					<form onsubmit="editedit(); return false">
		
						<h3>Full Review</h3>
						<textarea placeholder="" id="review">{{totalObject.review}}</textarea>
		    		
		    		<h3>Summary</h3>
						<input type="text" value="{{totalObject.summary}}" id="summary">
						<br>
						<br>
						<h3>Date</h3>
						<input type="text" value="{{totalObject.date}}" id="date">
						<br><br>

						<h3>Location</h3>
						<input type="text" value="{{totalObject.where}}" id="where">
						<br>
						<br>

						<input type="submit" class="form-control" value="submit" id="submiteditreview">
					</form>
					<br>
				</div>
				</div>
				</div>
			<div class="clearfix"></div>
		</div>
</body>
</html>