<!DOCTYPE html>
<html>
<head>
	<title>Music AKA | Life's an Entertainment</title>
	{{> scripts}}
</head>
<body>
{{> nav}}
	
	<div id="me" class="panel">
		<center>
  		<font id="biggreen">Aeri</font> 
  		<font id="biggray">Iamsirithaworn</font>
  		<br>
  		<br>
      <img id="PFP" class="thumbnail" src="img/aeri.jpg">
      <br>
    </center>

		<div class="testimonials-grid">
			<div class="testimonials-grid-left1">
				<img src="img/story.png" alt=" " class="img-responsive" />
			</div>
			<div class="testimonials-grid-right1" id="aboutme"> <!-- id="aboutme" -->
				<p>{{profileinfo.aboutme}}</p>
				<div align="right">
					<a href="/editprofile" class="btn btn-info btn-sm">Edit Profile</a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>

		<!-- interests -->
		<div class="featured-services" style="padding:10px 10px;">
			<div class="featured-services-grids" style="margin:0 0 0">
				<div class="col-md-3 featured-services-grid">
					<div class="featured-services-grd">
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						<h4>Favorites</h4>
						<p>
						{{profileinfo.fav1}}<br>
						{{profileinfo.fav2}}<br>
						{{profileinfo.fav3}}<br>
						</p>
					</div>
				</div>

				<div class="col-md-3 featured-services-grid">
					<div class="featured-services-grd">
						<span class="glyphicon glyphicon-music" aria-hidden="true"></span>
						<h4>Genres</h4>
						<p>
						{{profileinfo.gen1}}<br>
						{{profileinfo.gen2}}<br>
						{{profileinfo.gen3}}<br>
						</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>	
		</div>
		<div class="clearfix"></div>
	</div>
</body>
</html>